{
    "extends": [
        "mitchreece-base",
        "plugin:css-modules/recommended"
    ],
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react",
        "jest",
        "css-modules"
    ],
    "rules": {
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error"
    } 
}